*.tsbuildinfo
.eslintignore
.eslintrc.json
.git
.husky
.next
.pnpm-debug.log*
.prettierignore
.prettierrc
/playwright-report/
/playwright/.cache/
README.md
next-env.d.ts
node_modules
npm-debug.log*
package-lock.json
public
test-results
tests-examples
yarn-debug.log*
yarn-error.log*
yarn.lock